/* Estilo básico de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Fondo del formulario */
.card {
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 2rem;
}

/* Título de la tarjeta */
.card-title {
    text-align: center;
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 1rem;
    font-weight: bold;
}

/* Campos de entrada */
.form-control {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 1rem;
    transition: border-color 0.3s;
}

/* Efecto al enfocarse en los campos */
.form-control:focus {
    border-color: #007bff;
    outline: none;
}

/* Estilo para el botón */
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    padding: 12px;
    font-size: 1rem;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

/* Mensaje de error */
.text-danger {
    color: #ff0000 !important;
    font-size: 0.9rem;
    margin-top: 1rem;
}

/* Enlaces */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Estilo del pie de página */
footer {
    background-color: #343a40;
    color: #fff;
    padding: 1rem;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Estilo para los enlaces en el pie de página */
footer a {
    color: #ff0000;
    text-decoration: none;
    margin: 0 5px;
}

footer a:hover {
    text-decoration: underline;
}

/* Animación del encabezado */
.encabezado-gris {
    background-color: #706e6e;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Cuando el encabezado se oculta*